<br>
<br>
<br>
<br>
<br>
<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        ETC est une agence de développement web sur mesure dotée d’une expérience de plus de 21 ans dans le domaine. Pour le compte des entreprises, ETC développe des solutions digitales et technologiques personnalisées en s’alignant à leur stratégie marketing et communication. 
        <br/> 
        ETC adopte une démarche 100% sur mesure à travers la mise en œuvre de solutions performantes, économiques et fiables pour le compte des entreprises. Notre agence dispose d’une équipe d’experts en matière de développement web et d’un savoir-faire indéfectible nous permettant de proposer des solutions performantes aux entreprises quel que soit leur domaine d’activité : industrie, commerce, consulting, ou encore organisme de formation.
    </p>

</div>