<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form class="example-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your name" type="text" class="form-control" name="username"
              [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors">Username is required</div>
              <div *ngIf="username.errors">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors">
                Username must be at most 20 characters
              </div>
            </div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your email" type="email" class="form-control" name="email"
              [(ngModel)]="form.email" required email #email="ngModel">
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors">Email is required</div>
              <div *ngIf="email.errors">
                Email must be a valid email address
              </div>
            </div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your password" type="password" class="form-control" name="password"
              [(ngModel)]="form.password" required minlength="6" #password="ngModel">
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors">Password is required</div>
              <div *ngIf="password.errors">
                Password must be at least 6 characters
              </div>
            </div>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">ENREGISTRER</button>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
    </mat-card>
  </div> -->
  <!-- Signup Modal -->
<!-- <div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
      <button type="button"
          class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
          data-dismiss="modal"><i class="lni lni-close"></i></button>
      <div class="login-modal-main">
          <div class="row no-gutters">
              <div class="col-12">
                  <div class="row">
                      <div class="heading">
                          <h3>Create a free Account <br> Today</h3>
                          <p>Create your account to continue <br> and explore new jobs.</p>
                      </div>
                      <div class="social-login">
                          <ul>
                              <li><a class="linkedin" href="#"><i class="lni lni-linkedin-original"></i> Import from LinkedIn</a></li>
                              <li><a class="google" href="#"><i class="lni lni-google"></i> Import from
                                      Google</a></li>
                              <li><a class="facebook" href="#"><i class="lni lni-facebook-original"></i> Import from Facebook</a></li>
                          </ul>
                      </div>
                      <div class="or-devider">
                          <span>Or</span>
                      </div>
                      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                      novalidate>
                          <div class="form-group">
                              <label for="email" class="label">E-mail</label>
                              <input type="email" class="form-control" placeholder="example@gmail.com">
                          </div>
                          <div class="form-group">
                              <label for="password" class="label">Password</label>
                              <div class="position-relative">
                                  <input type="password" class="form-control"
                                      placeholder="Enter password">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="password" class="label">Confirm Password</label>
                              <div class="position-relative">
                                  <input type="password" class="form-control"
                                      placeholder="Enter password">
                              </div>
                          </div>
                          <div class="form-group d-flex flex-wrap justify-content-between">
                              
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="">
                                  <label class="form-check-label" for="flexCheckDefault">Agree to the <a
                                          href="#">Terms & Conditions</a></label>
                              </div>
                          </div>
                          <div class="form-group mb-8 button">
                              <button class="btn ">Sign Up
                              </button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- End Signup Modal -->
<br>
<br>
<br>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w"*ngIf="!isSuccessful" [formGroup]="registerForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
            novalidate>
                <span class="login100-form-title p-b-53">
                  Sign up With
                </span>

                <a href="#" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="#" class="btn-google m-b-20">
                    <img src="assets/login/images/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>

                <div class="p-t-31 p-b-9">
                  <span class="txt1">
                      Username
                  </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                  <input class="input100" type="text" name="username" formControlName="username">
                  <span class="focus-input100"></span>
              </div>

                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        E-mail
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="E-mail is required">
                    <input class="input100" type="email" name="email" formControlName="email">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        Password
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" formControlName="password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                      Sign up
                    </button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Signup failed!<br />{{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
</div>

